# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Secrets & Local credentials
.env
*.pem
*.key
vault_credentials.txt
vault_credentials.json
approle_credentials.json
devops_access_info.json
vault_keys.txt
/vault_backups/
*.snap

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
